.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3.9em 0em 3em 0em;
}

.info__name {
  display: flex;
  flex-direction: column;
  font-size: 4.7rem;
  font-weight: 600;
}

.info__more {
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.info__toogle-lang {
  font-size: 1.6rem;
  writing-mode: tb-rl;
  transform: rotate(180deg);
  cursor: pointer;
  font-family: 'Gilroy-Bold';
  font-weight: 500;
  text-align: left;
  display: flex;
  cursor: pointer;
}

.info__toogle-lang span {
  transition: color 0.3s ease-in-out;
}

.info__toogle-lang span:hover {
  color: red;
}

.photo {
  // height: 38.7rem;
  margin-bottom: 10.4rem;
}

.photo img {
  width: 100%;
}

.photo__small {
  display: none;
}

@media (max-width:900px) {
  .photo__large {
    display: none;
  }

  .photo__small {
    display: block;

  }
}

.photo__large,
.photo__small {
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    scale: 105%;
  }
}