.header{
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
}
.header__content{
  display: flex;
  font-size: 1.8rem;
  font-family: 'Gilroy-Bold';
  border-bottom: 1px solid gray;
  padding:  1em 0em 1em 0em;
  justify-content: space-between;
  // position: sticky;
  // top: 0;
  // background-color: white;
}
.header__content a{
  color: grey;
  text-decoration: none;
  &:focus{
    color: black;
    text-decoration: none;
  }  
}
